<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>CgDoc 监控系统</title>
</head>
<body>
    
    <div
        class="ajax-loading"
        id="ajaxLoading"
        style="display:none"
    >
        <div class="overlay"></div>
        <div class="loading">
        <img
            src="https://media.number-7.cn/ebike-h5/static/images/common/loading.gif"
            alt=""
        />
        <span>加载中，请稍后...</span>
        </div>
    </div>
    <div id="root"></div>
</body>
</html>